
/*****general*****/

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
}

.relative{
    position: relative;
}


/*****header*****/

.navbar{
    background-color: black;
    width: 100%;
    padding: 20px;
    justify-content: flex-end;
}

.navbar i{
    color: white;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px;
    border-radius: 5px;
}

/*****main*****/

main{
    width: 100%;
    height: calc(100vh - 156px);
    background-color: black;
    padding: 20px;

}

.container{
    flex-wrap: wrap;
    justify-content: space-between;
}

.box_image{
    width: calc(100% / 7 - 6px);
    height: 130px;
    background-color: white;
    margin: 3px;
    display: flex;

}
.box_image{
     background-image: url(https://picsum.photos/id/29/367/267);
     background-size: cover;
     background-repeat: no-repeat;

} 

.name{
    background-color: rgba(0, 0, 0, 0.5);;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
    color: white;
}

/*****footer*****/

.footer_bar{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    color: white;
    font-size: 30px;
    align-items: baseline;
}

.audio_video i,
.comand i{
    margin-right: 20px;
}

.comand i{
    margin-right: 40px;
    font-size: 40px;
}

.fa-share-from-square{
    color: green;
}
.termina{
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    color: red;
}

.footer_bar span{
    font-size: 12px;
    text-align: left;
}